/* font-family: 'Amiri', serif;
font-family: 'Cinzel', serif;
font-family: 'Crimson Text', serif; */


/* Hero section styles */
.hero-section{
    background-image: url(../images/CS2350/snowforms.gif);
    padding: 100px;
    height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    border-bottom: 3px solid gray;
}
.hero-section > .top-heading{
    border-radius: 2px;
    color: whitesmoke; 
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 15px;
    width: 150px;
    padding: 1px 10px;
    justify-content: center;
}
.hero-section > .bottom-heading{
    font-family: 'Cinzel', serif;
    border-radius: 2px;
    font-size: 15px;
    background-color: rgba(218, 165, 32, 0.5);
    margin-top: 15px;
    width: 150px; 
    padding: 1px 20px;
}
.hero-section > .bottom-heading > a{
    width: auto;
    padding-left: 2%;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
}
.hero-section > .bottom-heading > a:hover{
    color: rgb(255, 244, 183);
    letter-spacing: 1.5px;
    font-size: 1.01em;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #eef1f3
}

.mt-100 {
    margin-top: 100px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    font-size: 0.8rem;
    font-weight: 500;
    outline: none !important;
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body p {
    font-size: 13px
}

a {
    color: #E91E63;
    text-decoration: none !important;
    background-color: transparent
}

.media img {
    width: 40px;
    height: auto
}