/* page container */
.page-container {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.page-container > .content-wrapper{
    width: 1000px;
    color: white;
    font-family: 'Crimson Text', serif; 
}
.page-container > .content-wrapper > #about-page-image {
    width:  350px;
    margin: 25px 30px 0px 0px;
    float: left;
    border: 0.5px solid gray;
}
.page-container > .content-wrapper p{
    letter-spacing: 1px;
    line-height: 30px;
}